<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Wyvr\Core\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">wyvrLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Wyvr\Core\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Wyvr\Core\Logger\Handler">
        <arguments>
            <argument name="filePath" xsi:type="string">var/log</argument>
            <argument name="fileName" xsi:type="string">wyvr.log</argument>
        </arguments>
    </type>

    <type name="Magento\CatalogInventory\Model\Stock\StockItemRepository">
        <plugin name="wyvr_core_plugin_stockitemrepository" type="Wyvr\Core\Plugin\StockItemRepositoryPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Model\CategoryRepository">
        <plugin name="wyvr_core_plugin_categoryrepository" type="Wyvr\Core\Plugin\CategoryRepositoryPlugin" sortOrder="10"/>
    </type>
</config>
