<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_cache_flush_system">
        <observer name="wyvr_clean_cache_observer" instance="Wyvr\Core\Observer\CleanCache"/>
    </event>
    <event name="cobby_import_product_import_after">
        <observer name="wyvr_cobby_product_import_after" instance="Wyvr\Core\Observer\Cobby\ProductImportAfter"/>
    </event>
</config>