<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wyvr_core" translate="label" sortOrder="1000">
            <label>wyvr</label>
        </tab>
        <section id="wyvr" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Core</label>
            <tab>wyvr_core</tab>
            <resource>Wyvr_Core::config</resource>
            <group id="logging" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Logging</label>

                <field id="enabled" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="level" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Loglevel to be logged (or higher)</label>
                    <source_model>Wyvr\Core\Model\Config\Source\LogLevel</source_model>
                    <depends>
                        <field id="wyvr/logging/enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="product" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product</label>

                <field id="index_attributes" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Searchable attributes</label>
                    <comment>comma seperated list</comment>
                </field>
            </group>
            <group id="category" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category</label>

                <field id="index_attributes" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Searchable attributes</label>
                    <comment>comma seperated list</comment>
                </field>
            </group>
        </section>
    </system>
</config>
